<!DOCTYPE html>
<html>
<head>
    <title>Profile - ShopSutra</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<nav>
    <div class="logo">🛍 ShopSutra</div>
    <ul>
        <li><a href="../templates/index.html">Home</a></li>
        <li><a href="../templates/dashboard.html">Dashboard</a></li>
        <li><a href="../templates/add_expense.html">Add Purchase</a></li>
        <li><a href="../templates/cart_compare.html">Cart Compare</a></li>
        <li><a href="../templates/trend_insights.html">Trend Insights</a></li>
        <li><a href="/logout" class="nav-btn">Logout</a></li>
    </ul>
</nav>

<section class="hero">
    <h1>Hello, {{ username }} 👋</h1>
    <p>Your smart dashboard to decode every deal.</p>
</section>
<!-- FOOTER -->
<footer class="footer">
    <div class="footer-content">
        <div class="footer-about">
            <h3>About ShopSutra</h3>
            <p>
                ShopSutra is a smart spending dashboard that helps users track,
                compare and analyze their purchases across platforms.
                Every expense tells a story — and we help you understand it better.
            </p>
        </div>

        <div class="footer-links">
            <h4>Quick Links</h4>
            <a href="index.html">Home</a>
            <a href="dashboard.html">Dashboard</a>
            <a href="add_expense.html">Add Purchase</a>
            <a href="logout.html">Logout</a>
        </div>
    </div>

    <div class="footer-bottom">
       © 2026 ShopSutra | Developed & Designed by Avani Haretlia
    </div>
</footer>
</body>
</html>